<h3 class="mb16">Éliminatoires 2023</h3>
<h4 class="mb8">Lieu et date</h4>
<p>
  L'éliminatoire aura lieu la semaine du <strong>6 au 10 février 2023</strong> dans votre école (démarrage entre 8h00 et 15h30)
	ou le <strong>mercredi 8 février à 14h00</strong> dans l'un des
  <% if config.registration_open %>
  <%= link_to "%d centres régionaux"% data.qualification_centers.length, "#qualif-centers"%>.
  <% else %>
    8 centres régionaux.
  <% end %> L'épreuve dure 75 minutes, vous ne pouvez la passer qu'une seule fois.
</p>


<h4 class="mb8">Types de questions</h4>
<p>
Les éliminatoires se dérouleront sur ordinateur, sur la plate-forme habituelle.<br>
Vous retrouverez ci-dessous <%= link_to "quelques exemples de questions", '#sample-questions-qualif' %>.
</p>

<p>
	Visitez la <%= ext_link_to "plate-forme du concours", current_page.data.contest_platform["fr"] %> afin de tester
	les tâches interactives de beOI.
</p>

<% if config.registration_open %>
<h4 class="mb8">Comment participer ?</h4>
<p>
	<strong>Vous êtes une école?</strong>
	<%# Vous pourrez-vous inscrire d'ici quelques jours sur la plate-forme du concours. Indiquez votre adresse e-mail ci-dessous pour être prévenu à l'ouverture de celle-ci. %>
	Inscrivez-vous en tant que coordinateur sur <%= link_to "notre plate-forme de concours (administration)", current_page.data.management_platform["fr"] %>.
</p>
<p>
	<strong>Votre école ne souhaite pas participer?</strong>
	<%# Vous pourrez vous inscrire sous peu dans l'un des centres régionaux. %>
	Inscrivez-vous dans l'un des centres régionaux via
    <%= link_to "ce formulaire", "registration" %>.
</p>
<% end %>

<% if config.show_qualif_results %><%= link_to t("Results"), 'qualif_results', class:'btn btn-lg btn-filled' %><% end %>
