<h3 class="mb16">Eerste ronde 2023</h3>
<h4 class="mb8">Plaats en datum</h4>
<p>
  De eerste ronde vindt plaats in de week van <strong>6 tot 10 februari 2023</strong> in jouw school (start tussen 8u00 en 15u30)
  of op <strong>woensdag 8 februari om 14u00</strong> in één van de
  <% if config.registration_open %>
    <%= link_to "%d regionale centra"% data.qualification_centers.length, "#qualif-centers"%>.
  <% else %>
    8 regionale centra.
  <% end %> De proef duurt 75 minuten; je mag haar slechts één keer afleggen.
</p>


<h4 class="mb8">Types van vragen</h4>
<p>
De voorronde zal zich afspelen op de computer, op het gewoonlijke wedstrijdplatform.<br>
Je vindt hieronder <%= link_to "enkele voorbeeldvragen", '#sample-questions-qualif' %>.
</p>

<p>
  Bezoek het <%= ext_link_to "wedstrijdplatform", current_page.data.contest_platform["nl"] %> om de
  interactieve vragen uit te testen.
</p>

<% if config.registration_open %>
<h4 class="mb8">Hoe deelnemen?</h4>
<p>
  <strong>U vertegenwoordigt een school?</strong>
  <%# U kan zich binnenkort inschrijven op het wedstrijd platform. Laat hieronder uw emailadres achter om verwittigd te worden eens de inschrijvingen openen. %>
  Schrijf u in als coördinator op ons <%= link_to "wedstrijdplatform (administratie)", current_page.data.management_platform["nl"] %>.
</p>
<p>
  <strong>Jouw school wenst niet deel te nemen?</strong>
  <%# Je kan je binnenkort inschrijven om mee te doen in één van de regionale centra. %>
  Registreer je individueel bij een van onze regionale centra via
    <%= link_to "dit formulier", "registration" %>.
</p>
<% end %>

<% if config.show_qualif_results %><%= link_to t("Results"), 'qualif_results', class:'btn btn-lg btn-filled' %><% end %>
