<h3>Entrer dans la beCP&nbsp;?</h3>
<p>Pour entrer dans la beCP, vous devez nous montrer que vous savez programmer et que vous êtes motivé à vous entraîner. Si vous n'est pas encore rentré en sixième secondaire, nous vous demandons donc de résoudre une liste de problèmes
sur le site de <%= ext_link_to "France-IOI", "http://www.france-ioi.org" %> (progression plus lente, site en français) ou de <%= ext_link_to "USACO Guide", "https://usaco.guide" %> (progression plus rapide, site en anglais).</p>
<p>Pratiquement: Créez un compte sur le site sur le site que vous désirez utiliser et rejoigner le groupe qui se trouve sur <%= ext_link_to "ce lien", "http://www.france-ioi.org/algo/group.php?idGroup=20052" %>, en utilisant le mot de passe "becp_password_1234" pour France-IOI
ou sur <%= ext_link_to "ce lien", "https://usaco.guide/groups/join?key=rjW0XfoSo8iPeB4GVDNA" %> pour USACO Guide afin que nous puissions suivre votre progression.
En fonction de l'année dans laquelle vous vous trouvez, une différente quantité d'exercices est attendue de vous.
Pour France-IOI: si vous êtes en première ou en deuxième, il vous suffit de compléter le niveau 1; si vous êtes en troisième, c'est les 2 premiers niveaux; en quatrième, les 3 premiers niveaux; et en cinquième, les 4 premiers niveaux.
Pour USACO Guide: La liste des problèmes qui concerne votre année d'étude se trouve dans le groupe.</p>
<p>Lorsque vous aurez tout résolu, envoyez-nous un e-mail à <%= mail_to "becp@be-oi.be" %> pour nous en faire part.</p>
<p>À partir de la sixième secondaire, contactez-nous si vous pensez que vous méritez d'intégrer le groupe.
Cependant, s'entraîner pour les olympiades internationales est un travail de longue haleine.
À vous de nous convaincre que vous serez prêt pour intégrer l'équipe pour l'Olympiade Internationale avant la fin de vos études secondaires, par exemple en nous montrant vos bons résultats à des concours d'algorithmique en ligne.</p>
