<script type="text/javascript">
$(document).ready(function(){
   var $form = $('#newsletter-form');
   $form.submit(function(){
     $('#form-success').toggle(false);
     $('#form-already').toggle(false);
     $('#form-failure').toggle(false);
      $.post($(this).attr('action'), $(this).serialize(), function(response){
        if (response.data) $('#form-success').toggle(true);
        if (response.message === 'E-mail already exists.') $('#form-already').toggle(true);
      },'json').fail(function() { $('#form-failure').toggle(true); });
      return false;
   });
});
</script>

<div class="row mb24">
  <form id="newsletter-form" class="halves form-newsletter" action="https://bvduaeykw6ah6ni7xoykyi3wt40ntdrx.lambda-url.eu-central-1.on.aws/" >
  <input type="text" name="email" required  placeholder="<%= t("mailinglist_email_placeholder") %>" />
  <input type="hidden" name="lang" value="<%= lang %>" />

  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="nottobefilled" tabindex="-1" value=""></div>

  <button type="submit" class="btn-white mb0" ><%= t("mailinglist_submit_button") %></button>
  </form>
</div>

<div class="row mb24">
  <p class="alert-warning" style="color: #d88519; font-weight: bold; display:none;" id="form-already"><%= t(:mailinglist_alreadyin_msg) %></p>
  <p class="alert-success" style="color: #60b963; font-weight: bold; display:none;" id="form-success"><%= t(:mailinglist_success_msg) %></p>
  <p class="alert-danger" style="color: #c64444; font-weight: bold; display:none;" id="form-failure"><%= t(:mailinglist_error_msg) %></p>
</div>
